.wrap {
    max-width: 1000px;
    margin: 50px auto;
    background: #f8f8f8;
}

.scroll__wrap {
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0
}

.scroll--element {
    display: inline-block;
    width: 150px;
    height: 200px;
    border: 2px solid #222;
    background: #fff;
    font-size: 16px;
    line-height: 200px;
    text-align: center;
}

    .scroll--element + .scroll--element {
        margin-left: 15px;
    }
