.horizontalScroll {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 10px;
}

.bookDiv {
    margin-top: 25px;
}

.moviePosterDiv {
    margin-bottom: 20px;
}

.trendingMovieDiv {
    padding-top: 15px;
    padding-bottom: 15px;
}

.trendingMovieDiv h3{
    font-size: 25px;
    padding-left: 15px;
}
