.horizontalScroll {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 10px;
}

.bookDiv {
    margin-top: 25px;
}

.tvPosterDiv {
    margin-bottom: 20px;
}

.trendingTVDiv {
    padding-top: 15px;
    padding-bottom: 15px;
}

    .trendingTVDiv h3 {
        font-size: 25px;
        padding-left: 15px;
    }
